  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .mask {
      /* visibility: hidden; */
      position: relative;
      width: 80%;
      height: 80%;
      /* overflow: hidden; */
    }

    .transform-origin-top {
      transform-origin: top;
    }
  } 


  @font-face {
    font-family: 'Gratelos Display';
    src: local('Gratelos Display'),
         url('./assets/Fonts/gratelosdisplay.ttf') format('ttf');
}