@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask {
    /* visibility: hidden; */
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 9999px;
    overflow: hidden;
    /* background: red; */
    ;
  }

  .transform-origin-top {
    transform-origin: top;
  }

  .insure-gradient {
    background: rgb(31, 40, 61);
    background: linear-gradient(
      180deg,
      rgba(31, 40, 61, 1) 0%,
      rgba(12, 15, 24, 1) 7%,
      rgba(12, 15, 24, 1) 94%,
      rgba(31, 40, 61, 1) 100%
    );
  }
}

@font-face {
  font-family: 'Gratelos Display';
  src: url('./assets/Fonts/gratelosdisplay.ttf');
}
